/*design responsive version mobile */

@media all and (max-width: 767px)
{
	body
	{
		width: auto;
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;  
	}

	#bloc_page
	{
		margin: 0px;
		padding: 0px;
	}


	/*entête*/

	header
	{
		flex-direction: column;
		margin: 0px;
		padding: 0px;
	}

	#logo
	{
		margin: 0px 0px 0px 0px;
		text-align: center;
		right: 0px;
	}

	#logo img
	{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#ancres
	{
		flex-direction: column-reverse;
		flex-wrap: wrap;
		width: 100%;
	}

	nav
	{
		width: 100%;
	}

	nav ul
	{
		width: 100%;
		padding: 0px;
	}

	nav li
	{
		width: 50%;
		border-bottom: 3px solid #F2F2F2;
		padding-bottom: 10px;
		margin: 0px;
		text-align: center;
	}

	nav a:hover
	{
		padding-top: 37px;
	}

	nav li a:hover
	{
		border-top: none;
	}

	nav li:hover
	{
		border-color: #0065FC;
		color: #0065FC;
	}



	/*bloc recherche*/

	#blocrecherche
	{
		padding-left: 20px;
		padding-right: 20px;
	}

	form
	{
		width: 100%;
		margin-top: 30px;
	}

	.map 
	{
		width: 10%;
	}

	input 
	{
		width: 80%;
	}

	#bouton
	{
		width: 10%;
		border-radius: 10px;
	}

	#text_rechercher
	{
		display: none;
	}

	#search
	{
		display: block;
	}



	/*bloc filtres*/

	#filtres
	{
		flex-wrap: wrap;
	}

	#liens ul
	{
		flex-wrap: wrap;
        margin-left: -13px;
	}

	#liens li
	{
		margin-bottom: 10px;
	}

	#titre
	{
		margin-bottom: 20px;
	}

    #reponse2
	{
        padding-left: 45px;
    }


	/*Les plus populaires*/

	aside
	{
		display: flex;
		flex-direction: column;
		width: 100%;
		border-radius: 0;
		padding-left: 20px;
		padding-right: 20px;
		order: 1;
	}

	#encarts_populaires
	
	{
		width: 100%;
	}

	/*Taille des cards*/

	#card1,
	#card2 
	{
		width: 100%;
		height: 150px;
		margin-bottom: 20px;
	}

	#card3 
	{
		width: 100%;
		height: 150px;
	}

	/*Taille des photos*/

	#photo_hsoleildumatin,
	#photo_chaucoeurdeleau,
	#photo_hbleublanc 
	{
		width: 140px;
		height: 148px;
	}

	/*Taille des légendes*/

	#legend7,
	#legend8,
	#legend9 
	{
		width: 100%;
		height: 148px;
	}


	/*Espace des étoiles*/

	#legend7 i,
	#legend9 i 
	{
		margin-top: 60px;
	}

	#legend8 i
	{
		margin-top: 40px;
	}



	/*Hébergements*/

	.main
	{
		flex-direction: column;
		width: 100%;
	}

	article
	{
		width: 100%;
		order: 2
	}

	#hebergements
	{
		background: none;
		padding-left: 20px;
		padding-right: 20px;
		width: 100%;
	}

	#encarts
	{
		flex-direction: column;
		margin: 0px;
		padding: 0px;
		width: 100%;
	}

	#titre_hebergements
	{
		padding-top: 40px;
	}

	#encarts figure
	{
		width: 100%;
		height: 200px;
	}

	/*Taille des cartes*/

	#fig1,
	#fig2,
	#fig3,
	#fig4,
	#fig5,
	#fig6 
	{
		width: 100%;
		height: auto;
	}

	/*Taille des photos*/

	#photo_cannebiere,
	#photo_hduport,
	#photo_hlesmouettes,
	#photo_hdelamer,
	#photo_lepanier,
	#photo_hamina 
	{
		width: 100%;
		height: 60%;
	}

	/*Taille des légendes*/

	#legend1,
	#legend2,
	#legend3,
	#legend4,
	#legend5,
	#legend6 
	{
		width: 100%;
		height: 40%;
		padding-left: 8px;
		padding-top: 2px;
	}

	/*Espace des étoiles*/

	#fig1 i,
	#fig2 i,
	#fig3 i,
	#fig4 i,
	#fig5 i,
	#fig6 i 
	{
		padding-top: 10px;
	}



	/*Activités*/

	#activites
	{
		padding-left: 20px;
		padding-right: 20px;
	}

	#photos_activites
	{
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	/*Tailles des encarts*/

	#encart_vieuxport,
	#encart_ilesfrioul,
	#encart_parccalanques,
	#encart_parclongchamp 
	{
		width: 100%;
		height: 200px;
		margin-bottom: 25px;
	}

	#encart_fortpomegues,
	#encart_notredamedelagarde 
	{
		width: 100%;
		height: 200px;
	}

	/*Taille des photos*/

	#photo_vieuxport,
	#photo_fortpomegues,
	#photo_ilesfrioul,
	#photo_parccalanques,
	#photo_notredamedelagarde,
	#photo_parclongchamp 
	{
		width: 100%;
		height: 70%;
	}

	/*Taille des légendes*/

	#legend_vieuxport,
	#legend_fortpomegues,
	#legend_ilesfrioul,
	#legend_parccalanques,
	#legend_notredamedelagarde,
	#legend_parclongchamp 
	{
		width: 100%;
		height: 30%;
		padding-left: 8px;
		padding-top: 15px;
	}



	/*footer*/

	footer
	{
		flex-direction: column;
		margin: 0px;
	}

	#apropos,
	#noshebergements
	{
		padding-right: 0px;
		margin-bottom: 30px;
	}

}